<div>
    <div class="portlet light">
        <!-- PROJECT HEAD -->
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bar-chart font-green-sharp hide"></i>
                <span class="caption-helper">项目：</span> &nbsp; <span class="caption-subject font-green-sharp bold uppercase">网站优化</span>
            </div>
            <div class="actions">
                <div class="btn-group">
                    <a class="btn green-haze btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        管理 <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="javascript:;">
                                <i class="i"></i> 新建任务 </a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="javascript:;">
                               待定 <span class="badge badge-danger">
												4 </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                已完成 <span class="badge badge-success">
												12 </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                未完成 <span class="badge badge-warning">
												9 </span>
                            </a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="i"></i> 删除任务 </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end PROJECT HEAD -->
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-5 col-sm-4">
                    <div class="scroller" style="max-height: 800px;" data-always-visible="0" data-rail-visible="0" data-handle-color="#dae3e7">
                        <div class="todo-tasklist">
                            <div class="todo-tasklist-item todo-tasklist-item-border-green">
                                <img class="todo-userpic pull-left" src="../../../../../../itecDrpWeb/assets/admin/layout/img/avatar4.jpg" width="27px" height="27px">
                                <div class="todo-tasklist-item-title">
                                    滑块设计
                                </div>
                                <div class="todo-tasklist-item-text">
                                    左边滑块的设计
                                </div>
                                <div class="todo-tasklist-controls pull-left">
                                    <span class="todo-tasklist-date"><i class="fa fa-calendar"></i> 9/22/2014 </span>
                                    <span class="todo-tasklist-badge badge badge-roundless">紧急</span>
                                </div>
                            </div>
                            <div class="todo-tasklist-item todo-tasklist-item-border-red">
                                <img class="todo-userpic pull-left" src="../../../../../../itecDrpWeb/assets/admin/layout/img/avatar5.jpg" width="27px" height="27px">
                                <div class="todo-tasklist-item-title">
                                    主页面风格设计
                                </div>
                                <div class="todo-tasklist-item-text">
                                    主页面风格设计
                                </div>
                                <div class="todo-tasklist-controls pull-left">
                                    <span class="todo-tasklist-date"><i class="fa fa-calendar"></i> 9/22/2014 </span>
                                    <span class="todo-tasklist-badge badge badge-roundless">重要</span>
                                </div>
                            </div>
                            <div class="todo-tasklist-item todo-tasklist-item-border-green">
                                <img class="todo-userpic pull-left" src="../../../../../../itecDrpWeb/assets/admin/layout/img/avatar9.jpg" width="27px" height="27px">
                                <div class="todo-tasklist-item-title">
                                    路由的控制
                                </div>
                                <div class="todo-tasklist-controls pull-left">
                                    <span class="todo-tasklist-date"><i class="fa fa-calendar"></i> 10/10/2015 </span>
                                    <span class="todo-tasklist-badge badge badge-roundless">重要</span>&nbsp;
                                </div>
                            </div>
                            <div class="todo-tasklist-item todo-tasklist-item-border-blue">
                                <img class="todo-userpic pull-left" src="../../../../../../itecDrpWeb/assets/admin/layout/img/avatar6.jpg" width="27px" height="27px">
                                <div class="todo-tasklist-item-title">
                                    菜单导航
                                </div>
                                <div class="todo-tasklist-item-text">
                                   。。。。。。
                                </div>
                                <div class="todo-tasklist-controls pull-left">
                                    <span class="todo-tasklist-date"><i class="fa fa-calendar"></i> 04/25/2014 </span>
                                    <span class="todo-tasklist-badge badge badge-roundless">推迟</span>&nbsp; <span class="todo-tasklist-badge badge badge-roundless">测试</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="todo-tasklist-devider">
                </div>
                <div class="col-md-7 col-sm-8">
                    <div class="scroller" style="max-height: 800px;" data-always-visible="0" data-rail-visible="0" data-handle-color="#dae3e7">
                        <form action="javascript:;" class="form-horizontal">
                            <!-- TASK HEAD -->
                            <div class="form">
                                <div class="form-group">
                                    <div class="col-md-8 col-sm-8">
                                        <div class="todo-taskbody-user">
                                            <img class="todo-userpic pull-left" src="../../../../../../itecDrpWeb/assets/admin/layout/img/avatar9.jpg" width="50px" height="50px">
                                            <span class="todo-username pull-left">{{name}}</span>
                                            <button type="button" class="todo-username-btn btn btn-circle btn-default btn-xs">&nbsp;编辑&nbsp;</button>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <!--<div class="todo-taskbody-date pull-right">-->
                                            <!--<button type="button" class="todo-username-btn btn btn-circle btn-default btn-xs">&nbsp; 完成 &nbsp;</button>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                                <!-- END TASK HEAD -->
                                <!-- TASK TITLE -->
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control todo-taskbody-tasktitle" placeholder="任务标题">
                                    </div>
                                </div>
                                <!-- TASK DESC -->
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <textarea class="form-control todo-taskbody-taskdesc" rows="8" placeholder="任务描述"></textarea>
                                    </div>
                                </div>
                                <!-- END TASK DESC -->
                                <!-- TASK DUE DATE -->
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="input-icon">
                                            <i class="fa fa-calendar"></i>
                                            <input type="text" class="form-control todo-taskbody-due" placeholder="时间">
                                        </div>
                                    </div>
                                </div>
                                <!-- TASK TAGS -->
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control todo-taskbody-tags" placeholder="标签" value="">
                                    </div>
                                </div>
                                <!-- TASK TAGS -->
                                <div class="form-actions right todo-form-actions">
                                    <button class="btn btn-circle btn-sm green-haze">保存</button>
                                    <button class="btn btn-circle btn-sm btn-default">取消</button>
                                </div>
                            </div>
                            <div class="tabbable-line" id="myTab">
                                <ul class="nav nav-tabs ">
                                    <li class="active">
                                        <a href="#tab_1" data-toggle="tab" style="background-color: #fff">
                                            评论 </a>
                                    </li>
                                    <li>
                                        <a href="#tab_2" data-toggle="tab" style="background-color: #fff">
                                            历史记录 </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1">
                                        <!-- TASK COMMENTS -->
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <ul class="media-list">
                                                    <li class="media">
                                                        <a class="pull-left" href="javascript:;">
                                                            <img class="todo-userpic" src="../../../../../../itecDrpWeb/assets/admin/layout/img/avatar8.jpg" width="27px" height="27px">
                                                        </a>
                                                        <div class="media-body todo-comment">
                                                            <button type="button" class="todo-comment-btn btn btn-circle btn-default btn-xs">&nbsp; 回复 &nbsp;</button>
                                                            <p class="todo-comment-head">
                                                                <span class="todo-comment-username">Christina Aguilera</span> &nbsp; <span class="todo-comment-date">17 Sep 2014 at 2:05pm</span>
                                                            </p>
                                                            <p class="todo-text-color">
                                                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis
                                                            </p>
                                                            <!-- Nested media object -->
                                                            <div class="media">
                                                                <a class="pull-left" href="javascript:;">
                                                                    <img class="todo-userpic" src="../../../../../../itecDrpWeb/assets/admin/layout/img/avatar4.jpg" width="27px" height="27px">
                                                                </a>
                                                                <div class="media-body">
                                                                    <p class="todo-comment-head">
                                                                        <span class="todo-comment-username">Carles Puyol</span> &nbsp; <span class="todo-comment-date">17 Sep 2014 at 4:30pm</span>
                                                                    </p>
                                                                    <p class="todo-text-color">
                                                                        Thanks so much my dear!
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="media">
                                                        <a class="pull-left" href="javascript:;">
                                                            <img class="todo-userpic" src="../../../../../../itecDrpWeb/assets/admin/layout/img/avatar5.jpg" width="27px" height="27px">
                                                        </a>
                                                        <div class="media-body todo-comment">
                                                            <button type="button" class="todo-comment-btn btn btn-circle btn-default btn-xs">&nbsp; 回复 &nbsp;</button>
                                                            <p class="todo-comment-head">
                                                                <span class="todo-comment-username">Andres Iniesta</span> &nbsp; <span class="todo-comment-date">18 Sep 2014 at 9:22am</span>
                                                            </p>
                                                            <p class="todo-text-color">
                                                                Cras sit amet nibh libero, in gravida nulla. Scelerisque ante sollicitudin commodo Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. <br>
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <li class="media">
                                                        <a class="pull-left" href="javascript:;">
                                                            <img class="todo-userpic" src="../../../../../../itecDrpWeb/assets/admin/layout/img/avatar6.jpg" width="27px" height="27px">
                                                        </a>
                                                        <div class="media-body todo-comment">
                                                            <button type="button" class="todo-comment-btn btn btn-circle btn-default btn-xs">&nbsp; 回复 &nbsp;</button>
                                                            <p class="todo-comment-head">
                                                                <span class="todo-comment-username">Olivia Wilde</span> &nbsp; <span class="todo-comment-date">18 Sep 2014 at 11:50am</span>
                                                            </p>
                                                            <p class="todo-text-color">
                                                                Cras sit amet nibh libero, in gravida nulla. Scelerisque ante sollicitudin commodo Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. <br>
                                                            </p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- END TASK COMMENTS -->
                                        <!-- TASK COMMENT FORM -->
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <ul class="media-list">
                                                    <li class="media">
                                                        <img class="todo-userpic pull-left" src="../../../../../../itecDrpWeb/assets/admin/layout/img/avatar4.jpg" width="27px" height="27px">
                                                        <div class="media-body">
                                                            <textarea class="form-control todo-taskbody-taskdesc" rows="4" placeholder="Type comment..."></textarea>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <button type="button" class="pull-right btn btn-sm btn-circle green-haze"> &nbsp; Submit &nbsp; </button>
                                            </div>
                                        </div>
                                        <!-- END TASK COMMENT FORM -->
                                    </div>
                                    <div class="tab-pane" id="tab_2">
                                        <ul class="todo-task-history">
                                            <li>
                                                <div class="todo-task-history-date">
                                                    20 Jun, 2014 at 11:35am
                                                </div>
                                                <div class="todo-task-history-desc">
                                                    Task created
                                                </div>
                                            </li>
                                            <li>
                                                <div class="todo-task-history-date">
                                                    21 Jun, 2014 at 10:35pm
                                                </div>
                                                <div class="todo-task-history-desc">
                                                    Task category status changed to "Top Priority"
                                                </div>
                                            </li>
                                            <li>
                                                <div class="todo-task-history-date">
                                                    22 Jun, 2014 at 11:35am
                                                </div>
                                                <div class="todo-task-history-desc">
                                                    Task owner changed to "Nick Larson"
                                                </div>
                                            </li>
                                            <li>
                                                <div class="todo-task-history-date">
                                                    30 Jun, 2014 at 8:09am
                                                </div>
                                                <div class="todo-task-history-desc">
                                                    Task completed by "Nick Larson"
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {

        $('#myTab a').click(function (e) {
            e.preventDefault();
        });
    })
</script>
<script>
    jQuery(document).ready(function() {
        Metronic.init();
        Layout.init();
        Demo.init();
        Todo.init();
    });
</script>